@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<header id="header">
    <div class="header-inner header-inner-content">
        <div data-nc-container="header-left">
            <div id="logoWrapper" class="wrapper" data-nc-element>
                <h1 id="logoImage">
                    <a href="/">
                        <img src="/images/logo.png" alt="Victor Fontana">
                    </a>
                </h1>
            </div>
        </div>
        <div data-nc-container="header-right">
            <div id="headerNav" data-nc-element>
                <div id="mainNavWrapper" class="nav-wrapper">
                    <nav id="mainNavigation">
                        <a class="nav-link" asp-controller="home" asp-action="index">@Localizer["Home"]</a>
                        <a class="nav-link" asp-controller="home" asp-action="portfolio">@Localizer["Portfolio"]</a>
                        <a class="nav-link" asp-controller="home" asp-action="about">@Localizer["About"]</a>
                        <a class="nav-link" asp-controller="home" asp-action="resume">@Localizer["Resume"]</a>
                        <a class="nav-link" asp-controller="home" asp-action="blog">@Localizer["Blog"]</a>
                        <a class="nav-link" asp-controller="home" asp-action="contact">@Localizer["Contact"]</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="index-page">
    <div class="index-page-content">
        <div class="row sqs-row">
            <div class="col sqs-col-12 span-12">
                <div class="sqs-block html-block sqs-block-html">
                    <div class="sqs-block-content">
                        <h2 class="text-align-center">@ViewBag.subtitle</h2>
                        <h1 class="text-align-center">@ViewBag.title</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

