@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<header id="header">
    <div class="header-inner">
        <div id="logoWrapper" class="wrapper">
            <h1 id="logoImage">
                <a href="/">
                    <img src="/images/logo.png" alt="Victor Fontana">
                </a>
            </h1>
        </div>
        <label for="mobileNavToggle" class="mobile-nav-toggle-label">
            <div class="top-bar"></div>
            <div class="middle-bar"></div>
            <div class="bottom-bar"></div>
        </label>
        <div id="headerNav">
            <div id="mainNavWrapper" class="nav-wrapper">
                <nav id="mainNavigation">
                    <a class="nav-link" asp-controller="home" asp-action="index">@Localizer["Home"]</a>
                    <a class="nav-link" asp-controller="home" asp-action="portfolio">@Localizer["Portfolio"]</a>
                    <a class="nav-link" asp-controller="home" asp-action="about">@Localizer["About"]</a>
                    <a class="nav-link" asp-controller="home" asp-action="resume">@Localizer["Resume"]</a>
                    <a class="nav-link" asp-controller="home" asp-action="blog">@Localizer["Blog"]</a>
                    <a class="nav-link" asp-controller="home" asp-action="contact">@Localizer["Contact"]</a>
                </nav>
            </div>
        </div>
    </div>
</header>
<div class="banner_thumbnail_wrapper">
    <div class="desc_wrapper">
        <p><em>@ViewBag.subtitle</em></p>
        <p><strong>@ViewBag.title</strong></p>
    </div>
</div>

