@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="Mobile loaded" data-nc-base="mobile-bar">
    <div class="Mobile-bar Mobile-bar--top">
        <div class="mobile-menu">
            <a href="/">VIFONTS</a>
        </div>
        <div class="mobile-menu right">
            <button class="Mobile-bar-menu" data-nc-element="menu-icon">
                <svg class="Icon Icon--hamburger" viewBox="0 0 24 18">
                    <use xlink:href="/images/ui-icons.svg#hamburger-icon--even" class="use--even"></use>
                    <use xlink:href="/images/ui-icons.svg#hamburger-icon--odd" class="use--odd"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="Mobile-overlay">
        <div class="Mobile-overlay-menu" data-controller="MobileOverlayFolders" data-controllers-bound="MobileOverlayFolders">
            <div class="Mobile-overlay-menu-main">
                <nav class="Mobile-overlay-nav Mobile-overlay-nav--primary" data-content-field="navigation">
                    <a href="/" class="Mobile-overlay-nav-item">
                        @Localizer["Home"]
                    </a>
                    <a href="/squarespace-code-shop" class="Mobile-overlay-nav-item">
                        @Localizer["Portfolio"]
                    </a>
                    <a href="/portfolio" class="Mobile-overlay-nav-item">
                        @Localizer["About"]
                    </a>
                    <a href="/about" class="Mobile-overlay-nav-item">
                        @Localizer["Resume"]
                    </a>
                    <a href="/blog" class="Mobile-overlay-nav-item">
                        @Localizer["Blog"]
                    </a>
                    <a href="/contact" class="Mobile-overlay-nav-item">
                        @Localizer["Contact"]
                    </a>
                </nav>
            </div>
            <div class="Mobile-overlay-folders" data-content-field="navigation">
            </div>
        </div>
        <button class="Mobile-overlay-close" data-controller="MobileOverlayToggle" data-controllers-bound="MobileOverlayToggle">
            <svg class="Icon Icon--close" viewBox="0 0 16 16">
                <use xlink:href="/images/ui-icons.svg#close-icon"></use>
            </svg>
        </button>
        <div class="Mobile-overlay-back" data-controller="MobileOverlayToggle" data-controllers-bound="MobileOverlayToggle"></div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            alert("vara");
        });
    </script>
}