@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<footer id="footer" role="contentinfo">
    <div class="footer-inner">
        <div class="sqs-layout sqs-grid-12 columns-12" id="footerBlocks">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block image-block sqs-block-image">
                        <div class="sqs-block-content">
                            <div class="image-block-outer-wrapper layout-caption-below ">
                                <div class="intrinsic">
                                    <div>
                                        <img asp-append-version="true" src="~/images/logo.png" alt="Victor Fontana" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="sqs-block-content">
                            <h3 class="text-align-center">
                                <a asp-controller="home" asp-action="index">@Localizer["Home"]</a>
                                <a asp-controller="home" asp-action="portfolio">@Localizer["Portfolio"]</a>
                                <a asp-controller="home" asp-action="about">@Localizer["About"]</a>
                                <a asp-controller="home" asp-action="resume">@Localizer["Resume"]</a>
                                <a asp-controller="home" asp-action="blog">@Localizer["Blog"]</a>
                                <a asp-controller="home" asp-action="contact">@Localizer["Contact"]</a>
                            </h3>
                            <p class="text-align-center">© @DateTime.Now.ToString("yyyy") Victor Fontana. @Localizer["All rights reserved. Developer ASP.NET"]</p>
                        </div>
                    </div>
                    <div class="sqs-block socialaccountlinks-v2-block sqs-block-socialaccountlinks-v2">
                        <div class="sqs-block-content">
                            <nav class="sqs-svg-icon--list social-icon-alignment-center social-icons-color-white social-icons-size-extra-small social-icons-style-regular ">
                                <a href="http://instagram.com/vifonts" rel="noopener" target="_blank" class="sqs-svg-icon--wrapper instagram" aria-label="instagram">
                                    <div>
                                        <svg class="sqs-svg-icon--social">
                                            <use class="sqs-use--background" xlink:href="~/images/universal/svg/social-accounts.svg#background"></use>
                                            <use class="sqs-use--icon" xlink:href="~/images/universal/svg/social-accounts.svg#instagram-icon"></use>
                                            <use class="sqs-use--mask" xlink:href="~/images/universal/svg/social-accounts.svg#instagram-mask"></use>
                                        </svg>
                                    </div>
                                </a>
                                <a href="http://www.linkedin.com/in/victorfontana" rel="noopener" target="_blank" class="sqs-svg-icon--wrapper linkedin" aria-label="linkedin">
                                    <div>
                                        <svg class="sqs-svg-icon--social">
                                            <use class="sqs-use--background" xlink:href="~/images/universal/svg/social-accounts.svg#background"></use>
                                            <use class="sqs-use--icon" xlink:href="~/images/universal/svg/social-accounts.svg#linkedin-icon"></use>
                                            <use class="sqs-use--mask" xlink:href="~/images/universal/svg/social-accounts.svg#linkedin-mask"></use>
                                        </svg>
                                    </div>
                                </a>
                                <a href="mailto:fontiana@gmail.com" rel="noopener" target="_blank" class="sqs-svg-icon--wrapper email" aria-label="email">
                                    <div>
                                        <svg class="sqs-svg-icon--social">
                                            <use class="sqs-use--background" xlink:href="~/images/universal/svg/social-accounts.svg#background"></use>
                                            <use class="sqs-use--icon" xlink:href="~/images/universal/svg/social-accounts.svg#email-icon"></use>
                                            <use class="sqs-use--mask" xlink:href="~/images/universal/svg/social-accounts.svg#email-mask"></use>
                                        </svg>
                                    </div>
                                </a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>