@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer


<div class="Mobile loaded" data-nc-base="mobile-bar">
    <div class="Mobile-bar Mobile-bar--top">
        <div class="mobile-menu">
            <a asp-controller="home" asp-action="index">
                <img src="/images/VF_black.png" width="42" alt="Logotipo Victor Fontana">
            </a>
        </div>
        <div class="mobile-menu right">
            <button class="Mobile-bar-menu" data-nc-element="menu-icon">
                <svg class="Icon Icon--hamburger" viewBox="0 0 24 18">
                    <use xlink:href="/images/ui-icons.svg#hamburger-icon--even"></use>
                </svg>
            </button>
        </div>
    </div>
    <div class="Mobile-overlay">
        <div class="Mobile-overlay-menu" data-controller="MobileOverlayFolders" data-controllers-bound="MobileOverlayFolders">
            <div class="Mobile-overlay-menu-main">
                <nav class="Mobile-overlay-nav Mobile-overlay-nav--primary" data-content-field="navigation">
                    <a class="Mobile-overlay-nav-item" asp-controller="home" asp-action="index">
                        @Localizer["Home"]
                    </a>
                    <a class="Mobile-overlay-nav-item" asp-controller="home" asp-action="portfolio">
                        @Localizer["Portfolio"]
                    </a>
                    <a class="Mobile-overlay-nav-item" asp-controller="home" asp-action="about">
                        @Localizer["About"]
                    </a>
                    <a class="Mobile-overlay-nav-item" asp-controller="home" asp-action="resume">
                        @Localizer["Resume"]
                    </a>
                    <a class="Mobile-overlay-nav-item" asp-controller="home" asp-action="blog">
                        @Localizer["Blog"]
                    </a>
                    <a class="Mobile-overlay-nav-item" asp-controller="home" asp-action="contact">
                        @Localizer["Contact"]
                    </a>
                </nav>
            </div>
        </div>
        <button class="Mobile-overlay-close" data-nc-element="close-icon">
            <svg class="Icon Icon--close" viewBox="0 0 16 16">
                <use xlink:href="/images/ui-icons.svg#close-icon"></use>
            </svg>
        </button>
    </div>
</div>