@model IndexViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<partial name="~/Views/Shared/_HeaderTitle.cshtml" />
<section class="striped-section">
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sqs-block html-block sqs-block-html">
                        <div class="block-content">
                            <h1 class="text-align-center">@Localizer["My life at a glance"]</h1>
                            <h2 class="text-align-center">My interest in programming stemmed from my passion for gaming. Between developing systems and playing video games. Some of my passions are writing clean code, creating suberb user experiences and filling up a fresh cup of coffee.</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sblock html-block">
                        <div class="sqs-block html-block sqs-block-html">
                            <div class="sqs-block-content">
                                <h1 class="text-align-center">@Localizer["My projects"]</h1>
                            </div>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="row sqs-row">
                                @foreach (var item in Model.Projects)
                                {
                                    <div class="col sqs-col-4 span-4">
                                        <div class="sqs-block code-block sqs-block-code">
                                            <div class="sqs-block-content">
                                                <section class="portfolio-block">
                                                    <div class="portfolio-image-block">
                                                        <a asp-controller="home" asp-action="portfolio" asp-route-id="@item.DashedTitle" class="portfolio-image-block__link">
                                                            <img class="portfolio-image-block__image loader" src="@item.Showcase" alt="@item.Title">
                                                        </a>
                                                    </div>
                                                    <div class="portfolio-content-block">
                                                        <div class="portfolio-content-block__holder">
                                                            <div class="portfolio-content-block__text">
                                                                <div class="portfolio-content-block__sub-title">Website</div>
                                                                <div class="portfolio-content-block__title">@item.Title</div>
                                                                <a asp-controller="home" asp-action="portfolio" asp-route-id="@item.DashedTitle" class="portfolio-content-block__link" title="@item.Title">@Localizer["View Project"]</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block button-block sqs-block-button">
                        <div class="sqs-block-content">
                            <div class="sqs-block-button-container--center">
                                <a class="sqs-block-button-element--medium sqs-block-button-element"
                                   asp-controller="home"
                                   asp-action="portfolio">@Localizer["View more projects"]→</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="striped-section">
    <div class="index-page-content">
        <div class="sqs-layout sqs-grid-12 columns-12">
            <div class="row sqs-row">
                <div class="col sqs-col-12 span-12">
                    <div class="sblock html-block">
                        <div class="block-content">
                            <h1 class="text-align-center">@Localizer["My latest blog posts"]</h1>
                        </div>
                    </div>
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="row sqs-row">
                                <div class="sqs-block-summary-v2">
                                    @foreach (var post in Model.Posts)
                                    {
                                    <div class="col sqs-col-4 span-4">
                                        <div class="sqs-block code-block sqs-block-code">
                                            <a asp-controller="home" asp-action="blog" asp-route-id="@post.DashedTitle" class="summary-thumbnail-container sqs-gallery-image-container">
                                                <div class="summary-thumbnail img-wrapper BlogList-item-image">
                                                    <img class="summary-thumbnail-image loaded" src="@post.ShowcaseImage" alt="@post.Title">
                                                </div>
                                            </a>
                                            <div class="Blog-meta BlogList-item-meta">
                                                <span class="Blog-meta-item Blog-meta-item--categories">
                                                    <a asp-route="category" asp-route-id="@post.DashedCategory" class="Blog-meta-item-category">@post.Category</a>
                                                </span>
                                            </div>
                                            <a asp-controller="home" asp-action="blog" asp-route-id="@post.DashedTitle" class="BlogList-item-title">@post.Title</a>
                                        </div>
                                    </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sqs-block button-block sqs-block-button">
                        <div class="sqs-block-content">
                            <div class="sqs-block-button-container--center">
                                <a class="sqs-block-button-element--medium sqs-block-button-element"
                                   asp-controller="home"
                                   asp-action="blog">@Localizer["View more posts"]→</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
